[submodule "backend/fastapi_app/sample_data/OpenDCAI/dataflow-instruct-10k"]
	path = backend/fastapi_app/sample_data/OpenDCAI/dataflow-instruct-10k
	url = https://huggingface.co/datasets/OpenDCAI/dataflow-instruct-10k
